<div class="animated fadeIn" id="contenedorHome">
  <div class="row">
    <h5 class="col s12 center-align" id="titSelecEjercicio">Para comenzar, por favor seleccione el ejercicio que desea realizar:</h5>
  </div>
  <div class="row">
    <div class="col s12 m4" ng-repeat="link in links">
      <div class="card {{ link.cardColor }}">
        <a href="{{ link.linkUrl }}" class="white-text" id="btHome">
          <div class="card-content center-align">
            <i class="{{ link.linkIcon }} white-text"></i>
            <br>
            <br> {{ link.linkName }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>