<link rel="stylesheet" type="text/css" href="css/teoria.css">
<div class=" card-container animated fadeIn contenedor">
  <h4 class="center-align animated fadeInDown" id="titulo">{{ laComa }}</h4>

  <div class="row" ng-repeat="theContent in content">
    <div class="col s12 m6 wow fadeInLeft">
      <div class="card teoria-card">
        <div class="card-content">
          <h5 class="center-align"><b> {{ theContent.firstCardTitle }} </b></h5>
          <p class="center-align"> {{ theContent.firstCardDesc }} </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 wow fadeInLeft">
      <div class="card teoria-card">
        <div class="card-content">
          <h5 class="center-align"><b> {{ theContent.secondCardTitle }} </b></h5>
          <p class="center-align"> {{ theContent.secondCardDesc }} </p>
        </div>
      </div>
    </div>
  </div>

  <!-- EXCEPTION -->

  <div class="row">
    <div class="col s12 m6 wow fadeInLeft">
      <div class="card teoria-card">
        <div class="card-content">
          <h5 class="center-align"><b>No se debe escribir coma entre el sujeto y el verbo de la oración, aunque el verbo esté compuesto por varios elementos separados por coma:</b></h5>
          <p class="center-align">
            Ejemplo: Las manzanas, las peras, los bananos son frutas.

            <br>

            <b>Excepción 1:</b> Si el sujeto es una enumeración y esta se cierra con etcétera o su abreviatura “etc”:

            <br>

            <b>Ejemplo:</b> Mis padres, mis hermanos, mis tíos, etc., me felicitaron la semana pasada.

            <br>

            <b>Excepción 2:</b> Cuando inmediatamente después del sujeto comienza un inciso o cuando aparece cualquiera de
            los elementos que se deben aislar por comas del resto del enunciado:

            <br>

            <b>Ejemplo:</b> Mi abuelo, como todos saben, le gusta mucho escribir poesía.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- EXCEPTION -->

  <h4 class="center-align wow animated fadeInDown" id="titulo"> {{ elPuntoComa }} </h4>

  <div class="row">
    <div class="col s12 m6 wow fadeInLeft">
      <div class="card teoria-card">
        <div class="card-content">
            <h5 class="center-align"><b>Para separar los elementos de una enumeración cuando se trata de expresiones complejas que incluyen comas:</b></h5>
            <p class="center-align">Ejemplo: Los que viajaron a Francia son: el presidente, Carlos; la tesorera, Roberta; el vocal, Rodrigo; y el fiscal, Fernando. </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 wow fadeInRight">
      <div class="card teoria-card">
        <div class="card-content">
          <h5 class="center-align"><b>Para separar oraciones sintácticamente independientes entre las que existe una estrecha relación semántica:</b></h5>
          <p class="center-align">Ejemplo: El concierto duró más de dos horas; el público salió agotado del estadio.
            <br><b>Nota:</b> En estos casos se podría utilizar también el punto y seguido. La elección de cuál signo de puntuación
            utilizar depende de qué tan fuerte es la relación semántica entre ambas oraciones. Si la relación no es tan fuerte
            se puede usar el punto y seguido pero si la relación es fuerte se utiliza el punto y coma.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 wow fadeInLeft">
      <div class="card teoria-card">
        <div class="card-content">
          <h5 class="center-align"><b>Se escribe punto y coma delante de conectores de sentido adversativo, concesivo o consecutivo, como pero, mas, aunque, sin embargo, por tanto, por consiguiente, etc., cuando las oraciones que encabezan tienen cierta longitud:</b></h5>
          <p class="center-align">Ejemplo: Los estudiantes estudiaron toda la noche; sin embargo, no obtuvieron la nota esperada.
            <br>
            <b>Nota:</b> Si el período encabezado por la conjunción es corto, se usa la coma; y si tiene una extensión considerable,
            es mejor utilizar el punto y seguido:
            <br> Ejemplos:
            <br> 1- Dice la verdad, aunque no le creas.
            <br> 2- Muchos conductores no respetan las señales de tránsito mientras conducen y alcanzan altas velocidades. Por
            consiguiente, ocurren muchos accidentes en las carreteras y mueren personas.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 wow fadeInRight">
      <div class="card teoria-card">
        <div class="card-content">
          <h5 class="center-align"><b>Se pone punto y coma detrás de cada uno de los elementos de una lista o relación cuando se escriben en líneas independientes y se inician con minúscula, salvo detrás del último, que se cierra con punto:</b></h5>
          <p class="center-align">Ejemplo:
            <br> 1- Nombres de bandas:
            <br> Nightwish (Metal sinfónico);
            <br> Lost Society (Thrash Metal);
            <br> Children of Bodom (Death Metal).
          </p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <h4 class="center-align" id="titulo">Fuentes:</h4>

  <ul>
    <li>Real Academia Española. (2005). Punto y Coma. 25 de octubre del 2016, de Real Academia Española Sitio web: <a href="http://lema.rae.es/dpd/srv/search?id=XAD3nkRJmD6NjdyDQ0"
        target="_blank">http://lema.rae.es/dpd/srv/search?id=XAD3nkRJmD6NjdyDQ0</a></li>
    <li>Real Academia Española. (2005). La Coma. 28 de octubre del 2016, de Real Academia Española Sitio web: <a href="http://lema.rae.es/dpd/srv/search?id=V1EqcYbX4D61AWBBrd"
        target="_blank">http://lema.rae.es/dpd/srv/search?id=V1EqcYbX4D61AWBBrd</a></li>
  </ul>

</div>
<script src="js/wow.js"></script>
<script>
  new WOW().init();
</script>